/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-image: url("../public/background.jpeg");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
} */
